*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.divv{
    /* border: 2px solid black; */
    border-top: 3px dashed red;
    border-bottom: 5px dotted blue;
    border-right: 10px double black;
    border-left: 10px ridge orange;
    margin: 30px;
    padding: 20px;
    outline: 10px dotted red;
    outline-offset: 10px;
}

.div2{
  border: 5px solid orchid;
  border-top-right-radius: 40px;
   border-bottom-left-radius: 40px;
  /* border-radius: 20px; */
  padding: 20px;
  margin: 30px;
}

.div3{
    border: 5px solid purple;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.div4{
    background-color: red;
 
    padding: 10px;
    font-size: 30px;
    text-align: justify;
    height: 300px;
    overflow-x: scroll;
    width: 700px;

}

p{
    width: 900px;
}

.div5{
    background-color: purple;
    width: 900px;
    min-height: 200px;
    margin-bottom: 20px;
}

.div6{
    background-color: orange;
    min-width: 900px;
    max-height: 200px;
}

h1{
    color: yellow;
    font-size: 50px;
    text-align: start;
    text-transform: uppercase;
    /* text-decoration: overline; */
    margin: 30px;
    word-spacing: 20px;
    line-height: 2;
    text-shadow: 2px 3px 4px black;
    font-style: italic;
    font-family: Smokum;
}

/* a{
    text-decoration: none;
} */

@font-face {
    font-family: bBanyu ;
    src: url(../fonts/bBanyu.ttf);
}

h2{
    font-family: bBanyu;
}

i{
    color: green;
    font-size: 40px;
    padding-right: 30px;
    margin: 20px;
}

a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 20px;
    
}